body{
    background-color: black;
}
.box{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 500px;
    height:500px;
    padding: 20px;
    border: 1px solid rgb(255, 94, 94);
    background-color: rgb(229, 65, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}

.big_bal{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ball 7s ease-in-out infinite;
    transform-style: preserve-3d;
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top:0;
    left: 0;
    opacity: .3; 
}

.circle-1{
    transform: rotateX(-30deg);
}
.circle-2{
    transform: rotateX(30deg);
}
.circle-3{
    transform: rotateX(60deg);
}
.circle-4{
    transform: rotateX(90deg);
}
.circle-5{
    transform: rotateX(120deg);
}
.circle-6{
    transform: rotateX(150deg);
}



 @keyframes ball {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotateY(45deg) rotateX(180deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(225deg) rotateX(0deg) rotateZ(90deg);
    }
    75% {
		transform: rotateY(0deg) rotateX(45deg) rotateZ(120deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
	}

    
 }