body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .7s;
}


.content{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 207, 207);
    text-align: center;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 10 10 rgba(251, 5, 5, 0.238);
}
.text{
    width: 500px;
}
#btn{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(33, 22, 246);
    top: 0;
    right: 0;
}

